<div class="container">
  <h1>Cocktails Lounge</h1>
  <div class="main">
    <% if params[:search].nil? %>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col col-lg-4 col-md-6 col-sm-12">
            <% unless cocktail.photo.attached? %>
              <div class="card placeholders" style="background-image: url('https://res.cloudinary.com/dsw3xlg5l/image/upload/v1606847214/placeholder_xhjd1d.png')">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>
            <% else %>
              <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key %>')">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>             
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="main">
      <div class="row d-block"> 
        <div class="row mb-3 ml-3">
          <h2>Results by <strong>name (<%= @filter_cocktails.count %> results)</strong></h2>
          <hr>
        </div>
        <div class="row">
          <% @filter_cocktails.each do |cocktail| %>
            <div class="col col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key %>')">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row d-block"> 
        <div class="row mb-3 ml-3">
          <h2>Results by <strong>ingredient (<%= @filter_ingredients.count %> results) </strong></h2>
        </div>
        <div>
          <div class="row">
            <% @filter_ingredients.each do |cocktail| %>
              <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key %>')">
                  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>   
    <% end %>
  </div>
</div>