<div class="container">
  <h1>Cocktails Lounge</h1>
  <div class="main">
    <% if params[:search].nil? %>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="background-image: url('<%= cocktail.img_url %>')">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="main">
      <div class="row d-block"> 
        <h2>Results by <strong>name (<%= @filter_cocktails.count %> results)</strong></h2>
        <br>
        <% @filter_cocktails.each do |cocktail| %>
          <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="background-image: url('<%= cocktail.img_url %>')">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="row d-block"> 
        <h2>Results by <strong>ingredient (<%= @filter_ingredients.count %> results) </strong></h2>
        <br>
        <% @filter_ingredients.each do |cocktail| %>
          <div class="col col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="background-image: url('<%= cocktail.img_url %>')">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        <% end %>  
      </div>
    </div>   
    <% end %>
  </div>
</div>