<div class="container">
  <div class="row align-items-center">
    <div class="col col-lg-6 col-sm-12 align-items-center">
      <div class="row center">
        <% if @cocktail.photo.attached? %>
          <div class="large-img center" style="background-image: url('<%= cl_image_path @cocktail.  photo.key %>')">
          </div>
        <% else %>
           <div class="large-img center placeholder" style="background-image: url('https://res.cloudinary.com/dsw3xlg5l/image/upload/v1606847214/placeholder_xhjd1d.png')">
          </div>         
        <% end %>
      </div>
      <div class="row">
        <h1 class="center"><%= @cocktail.name %> <%= link_to ("<i class='fas fa-pencil-alt'></i>").html_safe, edit_cocktail_path %><%= link_to ("<i class='fas fa-eraser'></i>").html_safe, 
                                  cocktail_path(@cocktail),
                                  method: :delete,
                                  data: { confirm: "Do you really want to erase this cocktail?" } %>

        </h1>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 align-items-center">
      <div class="row ">
        <div class="col">
          <h2>Ingredients:</h2>
          <hr>
          <ul>
            <% @doses.each do |dose| %>
              <li><strong><%= dose.description %></strong> of <%= dose.ingredient.name %> <%= link_to ("<i class='fas fa-eraser'></i>").html_safe, 
                                  dose_path(dose),
                                  method: :delete,
                                  data: { confirm: "Do you really want to erase this ingredient?" } %></li>
            <% end %>
          </ul>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col col-12 mg-2">
          <h2>Add ingredients:</h2>
          <hr>
          <%= render "ingredient_form" %>
        </div>
      </div>
    </div>
  </div>
</div>